.content {
    color: #454545;
}

.content a {
    color: #454545;
    text-decoration: none;
}

h3 {
    margin-top: 0.2em;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 0.1em;
}

h3:first-child {
    margin-top: 0;
}

.counts {
    margin-bottom: 0.3em;
}

.count {
    font-size: 1.6em;
    padding-right: 0.4em;
    display: inline-block;
}

.count > * {
    display: inline-block;
}

.label {
    width: auto;
    font-weight: bold;
}

.result {
    padding-right: 10px;
    font-weight: bold;
    text-align: right;
}

.result, .result a {
    color: #1C842F;
}

.result.pending a {
    color: #B72F28;
}

.result .error {
    color: #B72F28;
}